ul {
    list-style: none;
}
li {
    list-style: none;
}
.pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}
.pokemon_img {
    max-width: 500px;
    min-width: 150px;
    position:relative;
    top: 10px;
}
.pokemon_header {
    width: 90%;
    height: 200px;
    margin-top: 100px;
}
.pokemon_header_img {
    min-width: 250px;
    max-width: 300px;
    margin: auto;
    position: relative;
    bottom: 100px;
}
.pokemon_name {
    margin-top: 30px;
}
.pokemon_information {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
    font-weight: 500;
}

.pokemon_features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    gap: 3rem;
}
.pokemon_features_type {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.type {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: 500;
}
.type_name {
    padding: 10px;
}

.ability {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
/*  */

.pokemon_stats {
    margin-top: 40px;
    margin-bottom: 50px;
}
.pokemon_features_abilities {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stat_information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 30px;
}
.stat_information_text {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.progress {
    width: 80%;
    height: 30px;
    border: none;
}

.pokemon_moves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
}
.pokemon_move_span {
    padding: 10px;
    border-radius: 10px;
    color: white;
}


/* background colors */
.bg_normal {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg_grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08% );
    color: black;
}
.bg_rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
    
}
.bg_fire {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.bg_water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.bg_ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.bg_dark {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
    color: white;
}
.bg_poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.bg_electric {
    background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}
.bg_fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.bg_steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);

}.bg_bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
.bg_ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}
.bg_psychic {
    background: linear-gradient(179.75deg, #E62D2D -19.96%, #D13E3E 43.67%, #F07F7F 138.4%);
}
.bg_ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}
.bg_dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.bg_fairy {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
/* letter */

.letter_grass {
    color: #4b8b5b;
}
.letter_rock {
    color: #999;
}
.letter_fire {
    color: #d30101;
}
.letter_normal {
    color: #735259;
}

.letter_water {
    color: #1479FB;
}
.letter_ghost {
    color: #454AA8;
}
.letter_dark {
    color: black;
}
.letter_poison {
    color: #5B3184;
}
.letter_electric {
    color: #2B319B;
}
.letter_fighting {
    color: #96402A ;
}
.letter_steel {
    color: #5E736C;
}
.letter_bug {
    color: #3BB039;
}
.letter_ice {
    color: #6FBEDF;
}
.letter_psychic {
    color: #E62D2D;
}
.letter_ground {
    color: #895C1A;
}
.letter_dragon {
    color: #478A93;
}
.letter_fairy {
    color: #C23867;
}